@model NdtLesson08Annotation.Models.NdtAccount

@{
    ViewData["Title"] = "Thông tin nhân viên";
}

<h1>Thông tin nhân viên</h1>

<div>
    <h4>NdtAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdtId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdtId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdtFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdtFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdtEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdtEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdtPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdtPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdtAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdtAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdtAvatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdtAvatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdtBirthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdtBirthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdtGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdtGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdtPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdtPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NdtFacebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NdtFacebook)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="NdtEdit" asp-route-id="@Model.NdtId" class="btn btn-success">Edit</a> |
    <a asp-action="NdtIndex" class="btn btn-primary">Back to List</a>
</div>
